.Admin{
  border:solid 1px black;
}

.td,th{
   border:solid 1px black;
}
.signup-container{
  display:flex;
  flex-direction: column;
  align-items: center;  
}

.Signup{
  padding-top:20px;
  width:40%;
  background:#FFE500;
  box-shadow: 5px 5px 1px 5px #FFBD59;
  text-align:center;
}
.heading{
  margin-top:50px;
  margin-bottom:40px;
  width:40%;
  background:#5271FF;
  box-shadow:5px 5px 1px 5px #BDDDF4;
  text-align:center;
  color:white;

}

.userprofile-container{
  display:flex;
  flex-direction: column;
  margin-left:40px;
  align-items:center;


}
.profile-image{
  height: 185px;
  width: 15%;

  /* box-shadow: 5px 5px 5px 5px red; */
  font-size:170px;
}
.selector{
  width:20%;
  margin-top:10px;

}
.inputEmoji{
  font-size:30px;
}
.head{
  display:flex;
 
}
.something-about-you{
  font-family: 'Mansalva', cursive;
}
.question-container{
  display:flex;
  justify-content: space-between;
}
.small-questions{
  width:50%;

}