.test{
  font-family: 'Oswald', sans-serif;
  font-size:20px;
  text-align:center;
  
}

.emj{

  font-size:90px;
  border-radius:15px;
  text-align:center;
}


.iconsContainer{
  display:flex;
  height:150px;
  width:100%;
  margin-top: 30px;

}
.each{
  width:20%;
  flex: 1;
  display:flex;
  overflow:hidden;
  font-size:100px;
  margin-left:100px;

}

.newdiv{
  display:flex;
}

.newcontainer{
  border:3px solid #FFBD57;
  background:#FDE8AA;
  border-radius:2000px;
  height:280px;
  margin-top:20px;
  margin-right:10px;
  margin-left:15px;

}

.userprofiles{
  display:flex;
  flex-wrap: wrap;
  margin-left:20px;
}

.usercard{
  width:40%;
}

.love{
  color:#FF5A78;
  font-size:45px;

}

.pallet{
  width:45px;
  height:45px;
  overflow:hidden;
}

.pallet-image{
  width:100%;
  height:100%;
  margin-left:35px;
}